.ProductPage{
    width: 100%;
    height: auto;  
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(56, 56, 56);
    background-color: white;
    position: relative;
    overflow: hidden;

    .worldContainer{
        position: relative;
        width: calc(1024px - 20px);
        height: auto;
        // height: fit-content;
        margin: auto;

        @media screen and (max-width:420px) {
            width:340px
        }

        .arMode{
            position: relative;
            top: 80px;
            width: 100%;
            height: calc(100% - 60px);
            left: 0;right: 0;
            margin:0 auto;
        }
    }

}