.ProductPage{
    width: 100%;
    // height: fit-content;
    // background-color: red;
    // background-color: #ededed;  
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(56, 56, 56);
    // background-color: rgb(226, 226, 226);
    position: relative;

    .worldContainer{
        position: relative;
        width: calc(860px - 20px);
        height: calc(100vh - 20px);
        margin: auto;

        @media screen and (max-width:420px) {
            width:340px
        }

        .arMode{
            position: relative;
            top: 80px;
            width: 100%;
            height: calc(100% - 80px);
            left: 0;right: 0;
            margin:0 auto;
    
            // @media screen and (max-width:420px) {
            //     width:345px
            // }
        }
    }

}