.arBtn{
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.684);
    position: absolute;
    left: .75rem;
    top: .75rem;
    // border-radius: 0 0 20px 20px;
    color: rgb(37, 37, 37);
    border-radius: 50%;
    z-index: 10;
}